@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(8, 4, 4);
}

body {
    background-image: linear-gradient(to right, rgb(195, 195, 234), rgb(231, 171, 231));
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgba(211, 75, 75, 0.295);
    margin-top: 30vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 30vw;
    min-width: 500px;
    height: auto;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.heading {
    font-family: 'Dancing Script', Georgia;
    color: rgb(81, 22, 22);
    
}

.time {
    font-size: 42px;
}

.all-btn {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.btn {
    background-color: rgba(255, 255, 255, 0.178);
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: whitesmoke;
    color: black;
}